.majorContainer{
    height:120px;
    width:300px;
    border:none;
    border-radius: 14px;
    box-shadow: 2px 2px 10px 1px #8389C7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0px
}
.majorContainer:hover{
    cursor: pointer;
    transform:scale(1.04);
}
.image{
    margin:0px 5px;
    height: 70%;
}
.content h2{
    font-family: 'quicksand';
    margin: 0px;
    text-align: left;
}
.content p{
    margin: 0px;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
}

.carddesign{
    height: 70%;
    margin-right: -1px;
}